# cmake / juce
CMakeFiles/
_deps/
cmake_install.cmake
plugins/cmake_install.cmake
plugin/CMakeFiles/
plugin/Pitchblade_artefacts/
plugin/plugin/

# CMake Excludes
build/
libs/

# via template
.vs/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

*.vst3/
*.vst/
*.dll

**/Binaries/
**/Builds/

[Bb]uild/
[Rr]eleases/
x86/
[Bb]in/
[Oo]bj/
[Oo]ut/
*.VC.db
*.VC.VC.opendb
*.VC.VC.db-shm
*.VC.VC.db-wal
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.opensdf
*.sdf
ipch/

.jucer

/.gitignore
/plugin/x64/Debug
